.container {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -65%);
  width: 60%;
  padding: 3rem 3rem;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem #000000ce;
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
}

.loginText {
  color: #3d3c3c;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
}

.image-container {
  padding-left: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    display: flex;
  }
  &__prop {
    width: 60%;
    padding: 20px;
    outline: #00b224 10px solid;
  }
}
